<center><font color='steelblue'> <font size = "5,5">CORPORACI√ìN UNIVERSITARIA MINUTO DE DIOS </font></center><br>
<center><font color='steelblue'> <font size = "5">FACULTAD DE INGENIER√çA</font></center><br>
<center><font color='steelblue'> <font size = "4">PROGRAMA INGENIER√çA DE SISTEMAS</font></center><br>
<center><font color='steelblue'> <font size = "3">CURSO BASES DE DATOS MASIVAS</font></center><br>
<center><font color="yellow" size = "4" face = "small fonts">Talle PYTHON</font></center>

<center><font color="olive" size = "4" face = "small fonts">DATOS DE LOS PARTICIPANTES DEL GRUPO</font></center>

<font color="yellow" size = "4" face = "small fonts">NRC: </font></center><br>
<font color="yellow" size = "4" face = "small fonts">Nombre: </font></center><br>
<font color="yellow" size = "4" face = "small fonts">ID: </font></center><br>

<font color="yellow" size = "4" face = "small fonts">El taller retoma algunas de las instrucciones utilizadas a trav√©s del curso de Bases de Datos Masivas, tener en cuenta seguir los pasos requeridos.</font></center><br>

<font color="yellow" size = "4" face = "small fonts">Al Cargar los archivos dispuestos en la carpeta TERCERPARCIAL se debe utilizar sentencias que no fijen el path, este debe se din√°mico en caso de que se creen nuevos paquetes</font></center><br>
.

<font color="red" size = "4" face = "small fonts">El ejercicio consta de seguir el cuaderno y  realizar las tareas solicitadas, Utilizar y citar la documentaci√≥n propia de cada una de las herramientas utilizadas para realizar el tratamiento a la data.</font></center><br>

<font color="red" size = "4" face = "small fonts">Calificaci√≥n del siguiente bloque 1/5</font></center><br>

<font color="yellow" size = "4" face = "small fonts">1. Configuraci√≥n e importe de las librerias de pandas y propias.</font></center><br>

In [1]:
#Utilizar las buenas practicas de python
%pip install pandas
%pip install path

Requirement already satisfied: pandas in c:\users\paezm\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\paezm\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\paezm\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\paezm\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\paezm\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\paezm\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting path
  Downloading path-17.1.1-py3-none-any.whl.metadata (6.5 kB)
Downloading path-17.1.1-py3-none-any.whl (23 kB)
Installing collected packages: path
Successfully installed path-17.1.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [99]:
#importaciones
import sys
from pathlib import Path
import importlib

# Configurar rutas base
BASE_DIR = Path.cwd().parent  
sys.path.insert(0, str(BASE_DIR))

# Importar y recargar funciones personalizadas
import functions.misfunciones as misfunciones
importlib.reload(misfunciones)  # Esto recarga el m√≥dulo

print(f"‚úÖ Funciones cargadas correctamente")

‚úÖ Funciones cargadas correctamente

<font color="yellow" size = "4" face = "small fonts">2. Leer un archivo.CSV e imprimirlo desde la carpeta data</font></center><br>

In [100]:
#Utilizar las buenas practicas de python

df_csv = misfunciones.leer_datos('data.csv')

print("Primeras  filas")
display(df_csv)

‚úÖ Archivo data.csv cargado exitosamente con codificaci√≥n latin-1
üìä Dimensiones: 541909 filas x 8 columnas
Primeras  filas

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

<font color="yellow" size = "4" face = "small fonts">3. Leer un archivo.HTML que contenga data e imprimirlo desde un sitio WEB</font></center><br>

In [101]:
#Utilizar las buenas practicas de python
url = "https://unite4buy.com/es/cpu/mobile-processors-ranking/"

df_html = misfunciones.leer_html(url)

print("Primeras filas del HTML")
print(df_html)

‚úÖ P√°gina HTML cargada exitosamente
üìä Se encontraron 5 tabla(s)
Primeras filas del HTML
   #                                  CPU  Antutu benchmark   Geekbench
0  1        Qualcomm Snapdragon 8 Elite 2           3817334  11767/3655
1  2  Qualcomm Snapdragon 8 Elite (Gen 4)           3109884  10111/3211
2  3             MediaTek Dimensity 9400+           2955837   9188/2944
3  4              MediaTek Dimensity 9400           2729084   9033/2877
4  5                      Xiaomi Xring O1           2587994   9433/2998

<font color="yellow" size = "4" face = "small fonts">4. Leer un archivo.XLSX que contenga data e imprimirlo desde el modulo /data</font></center><br>

In [90]:
#Utilizar las buenas practicas de python
df_xlsx = misfunciones.leer_xlsx("RELAX1.xlsx")

print("Primeras filas del Excel")
display(df_xlsx)

‚úÖ Archivo Excel RELAX1.xlsx cargado exitosamente
üìä Dimensiones: 28926 filas x 14 columnas
Primeras filas del Excel

,Mat.gestion.stock,Material,Texto breve de material,TpMt,UMB,Mat,SM,Grupo art.,Jqu√≠a.productos,N¬∫Fb,Fabricante,Grupo art√≠c. ext.,Creado,√ölt.mod.
0,71000000091,91000000001,"WIRE, NONELECTRICAL",HERS,M,NaN,NaN,261215,NaN,10011477,CENTELSA,NaN,2016-04-27,2022-10-03
1,71000000091,91000000002,"WIRE, NONELECTRICAL",HERS,M,NaN,NaN,261215,NaN,200303,CENTELSA,NaN,2016-04-27,2022-10-03
2,71000000091,91000000003,"WIRE, NONELECTRICAL",HERS,M,X,NaN,261215,NaN,200354,CENTELSA,NaN,2016-04-27,2022-10-03
3,71000000125,91000000004,"WIRE, NONELECTRICAL",HERS,M,NaN,NaN,261215,NaN,2051016R - NEGRO,CENTELSA,NaN,2016-04-27,2022-10-03
4,71000000158,91000252927,"CABLE ASSEMBLY, POWER, ELECTRICAL",HERS,M,NaN,NaN,261216,NaN,C THHN/THWN 90¬∞C CU 2 AWG 600,CENTELSA,NaN,2016-04-27,2022-10-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28921,71001014620,91000035278,LEVER-VALVE,HERS,ST,NaN,NaN,261017,NaN,W 190342-001,TURBODYN,NaN,2016-04-27,NaT
28922,71001014638,91000035279,LEVER-VALVE,HERS,ST,NaN,NaN,261017,NaN,W 160470-001,TURBODYN,NaN,2016-04-27,NaT
28923,71001014646,91000035280,LEVER,HERS,ST,NaN,NaN,31162807,NaN,W 190488-001,TURBODYN,NaN,2016-04-27,NaT
28924,71001014653,91000035281,GASKET,HERS,ST,NaN,NaN,3118,NaN,188521-002,DRESSER,NaN,2016-04-27,2022-11-01
28925,71001014661,91000035282,BUSHING,HERS,ST,NaN,NaN,311716,NaN,W 131145-002,DRESSER,NaN,2016-04-27,NaT

<font color="yellow" size = "4" face = "small fonts">5. Leer un archivo.JSON que contenga data e imprimirlo desde el modulo /data</font></center><br>

In [92]:
#Utilizar las buenas practicas de python

df_json = misfunciones.leer_json("data.json")

print("Primeras filas del JSON:")
display(df_json)

‚úÖ Archivo JSON data.json cargado desde clave 'usuarios'
üìä Dimensiones: 3 filas x 6 columnas
Primeras filas del JSON:

   id        nombre  edad                   email  activo fechaRegistro
0   1    Juan P√©rez    28    juan.perez@email.com    True    2024-01-15
1   2  Mar√≠a Garc√≠a    34  maria.garcia@email.com   False    2024-02-20
2   3  Carlos L√≥pez    25  carlos.lopez@email.com    True    2024-03-10

<font color="yellow" size = "4" face = "small fonts">6. Leer un archivo desde una URL de extensi√≥n CSV e imprimirlo</font></center><br>

In [ ]:
#Utilizar las buenas practicas de python

<font color="yellow" size = "4" face = "small fonts">7. Para almacenar datos manualmente en una tabla, cree un DataFrame. Al utilizar un diccionario Python de listas, las claves del diccionario se utilizar√°n como cabeceras de columna y los valores de cada lista como columnas del DataFrame.

Un DataFrame es una estructura de datos bidimensional que puede almacenar datos de diferentes tipos (incluyendo caracteres, enteros, valores de coma flotante, datos categ√≥ricos y m√°s) en columnas. Es similar a una hoja de c√°lculo, una tabla SQL o el data.frame en R.

Cree una tabla que tiene 3 columnas, cada una de ellas con una etiqueta. Las etiquetas de las columnas son respectivamente Nombre, Edad y Sexo.

La columna Nombre consiste en datos textuales con cada valor una cadena, la columna Edad son n√∫meros y la columna Sexo son datos textuales.</font></center><br>

In [ ]:
#Utilizar las buenas practicas de python

<font color="yellow" size = "4" face = "small fonts">8. Solo interesa trabajar con los datos de la columna Edad, Imprima los datos de esta columna</font></center><br>
<font color="yellow" size = "4" face = "small fonts"> -  - Imprima los datos de esta columna</font></center><br>

<font color="yellow" size = "4" face = "small fonts">9. Consulte que otro tipo de archivo se pueden cargar en pandas y carguelo e imprimalo-</font></center><br>

<font color="yellow" size = "4" face = "small fonts">10. Consulte que otro tipo de archivo se pueden cargar en pandas y carguelo e imprimalo-</font></center><br>

<font color="red" size = "4" face = "small fonts">-------------------------------------------------------------------------------</font></center><br>

<font color="red" size = "4" face = "small fonts">Calificaci√≥n del siguinte bloque 2/5</font></center><br>

<center><img src= '..//data/imageProject.png' width='200' height='400'></center>

<font color="yellow" size = "4" face = "small fonts">1. Integrar los datos de los archivos de Excel y generar un archivo temporal.csv que se almacene en el paquete \data\ Lo anterior se debe generar mediante una funci√≥n escrita en Python y almacenada en la m√≥dulo functions y en un archivo.py, ejemplo /functions/myfunctions.py</font></center><br>

<font color="Orange" size = "4" face = "small fonts">Calificaci√≥n 0,5 de 2 </font></center><br>

In [ ]:
#Code

<font color="yellow" size = "4" face = "small fonts">2. Con el archivo temporal.csv se debe realizar la siguiente transformaci√≥n, recordar que todo se debe realizar con funciones escritas en un archivo.py guardado en la carpeta \functions e invocadas en archivo parcialBDM.ipynb</font></center><br>

<font color="yellow" size = "4" face = "small fonts">*   Cambiar los encabezados por: stock, material, descripcion, tipoMaterial, umb, mat, sm, grupo, jerarquia, numerofab, fabricante, extension, creado, modificado</font></center><br>

<font color="yellow" size = "4" face = "small fonts">*   Eliminar las columnas que no tengan ningun dato y eliminar todos los registros que no tengan fecha en la columna modificado.</font></center><br>

<font color="Orange" size = "4" face = "small fonts">Calificaci√≥n 0,5 de 2 </font></center><br>

In [ ]:
#Code

<font color="orange" size = "4" face = "small fonts">Tenga en cuenta que las Bases de Datos se encuentran en el contenedor del Docker (Taller anterior)</font></center><br>

In [ ]:
#Escribir el script en este Markdown de creaci√≥n e inicio de la BD.

<font color="yellow" size = "4" face = "small fonts">3. Importar el archivo data.csv a una tabla producto de una Bases de Datos mariaDB. Todas las sentencias se deben realizar desde este cuaderno y con funciones.</font></center><br>

<font color="yellow" size = "4" face = "small fonts">* Crear la Bases de Datos con el nombre parcialDB y una tabla de nombre "producto" con las columnas material, descripcion, fabricante y modificado.</font></center><br>

<font color="yellow" size = "4" face = "small fonts">* Cargar los datos desde temporal.csv a la tabla "material"</font></center><br>


<font color="Orange" size = "4" face = "small fonts">Calificaci√≥n 0,5 de 2 </font></center><br>

In [ ]:
#Code


<font color="yellow" size = "4" face = "small fonts">4. Generar graficas desde los datos contenidos en la base de datos parcialDB, tabla producto. </font></center><br>
<font color="Orange" size = "4" face = "small fonts">Calificaci√≥n 0,5 de 2 </font></center><br>

<font color="red" size = "4" face = "small fonts">-------------------------------------------------------------------------------</font></center><br>

<font color="red" size = "4" face = "small fonts">Calificaci√≥n del siguinte bloque 2/5</font></center><br>

<font color="yellow" size = "4" face = "small fonts">1. Crear y cargar la base de datos de recursos humanos dentro del contenedor Docker, recuerde se debe realizar todas las sentencias y programaci√≥n necesaria desde este cuaderno. </font></center><br>
<font color="Orange" size = "4" face = "small fonts">Calificaci√≥n 1 de 2 </font></center><br>

<font color="yellow" size = "4" face = "small fonts">2. Generar la siguinte consulta de la base de datos - recursos humanos.  </font></center><br>
<font color="yellow" size = "4" face = "small fonts">- -Se desea conocer los empleados cuyo salario es superior al salario promedio de todos los empleados. </font></center><br>
<font color="Orange" size = "4" face = "small fonts">Calificaci√≥n 0,5 de 2 </font></center><br>

<center><font color="red" size = "4" face = "small fonts">CUANDO TERMINE EL PR√ÅCTICO CREE UN ARCHIVO.ZIP DE LA CARPETA DEL PROYECTO Y C√ÅRGUELO AL AULA VIRTUAL.</font></center>